body{
	font-size:14px;
	font-family:"Microsoft YaHei",Verdana,Arial,Helvetica,sans-serif;
	color:#333;
	display:block;
	background-color:rgba(0,0,0,1);
	margin:0px;
	padding:0px;
}
div,em,strong,p,span,a,input,ol,header,footer,article,aside,section,nav,table,tbody,tr,td,tbody,thead,mark,ul,li,ol,form{
	margin:0px;
	padding:0px;
	vertical-align:baseline;
	border:0px;
	font:inherit;
}
a{
	text-decoration:none;
	color:inherit;
}
img{
	border:0px;
}
button,input{
	outline:none;
	-webkit-appearance:none;
}
*{
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	-webkit-text-size-adjust:100%!important;
	text-size-adjust:100%!important;
	-webkit-tap-highlight-color:rgba(0,0,0,0)!important;
	tap-highlight-color:rgba(0,0,0,0)!important;
}
a,img {
	-webkit-touch-callout:none;
	touch-callout:none;
}
/*自适应图片*/
.img-responsive{
	display:block;
	max-width:100%;
	height:auto;
	margin:0px auto;
}
/*文字省略显示*/
.text-ellipsis{
	display:block;
	overflow:hidden;
	-webkit-text-overflow:ellipsis;
	-o-text-overflow:ellipsis;
	word-break:break-all;
	white-space:nowrap;
}
/*dlm活动背景样色即默认样式*/
.dlm-bg-container{
	width:6.4rem;
	margin:0px auto;
	background-color:rgba(0,0,0,1);
	padding-bottom:15px;
}
/*圆角样式*/
.border-radius-little{
	-webkit-border-radius:0.15rem;
	-moz-border-radius:0.15rem;
	-ms-border-radius:0.15rem;
	-o-border-radius:0.15rem;
	border-radius:0.15rem;
}
/*清除paddnig-bottom*/
.padding-bottom-none{
	padding-bottom:0px!important;
}
/*盒子样式*/
.sc-box{
	margin:0px auto;
	width:6.4rem;
	overflow:hidden;
}
/*图片按钮样式*/
.img-link{
	position:relative;
}
.img-link__block{
	position:absolute;
	z-index:9;
	margin:0px auto;
	left:0px;
	right:0px;
	top:0px;
}
.img-link__btn{
	position:absolute;
	z-index:9;
	text-indent:-9999em;
	color:#fff;
	font-size:36px;
	font-weight:bold;
	left:50%;
	top:0px;
	-webkit-transform:translate(-50%,-50%);
	-ms-transform:translate(-50%,-50%);
	-moz-transform:translate(-50%,-50%);
	-o-transform:translate(-50%,-50%);
	transform:translate(-50%,-50%);
	display:block;
}
.img-link__btn_bh{
	-webkit-transform:translate(-50%,0);
	-ms-transform:translate(-50%,0);
	-moz-transform:translate(-50%,0);
	-o-transform:translate(-50%,0);
	transform:translate(-50%,0);	
}
.img-link__btn:active{
	background-color:#000;
	opacity:0.4;
	filter:alpha(opacity=40);
}
.group-submit-btn{
	width:1.75rem;
	height:0.5rem;
	top:0.25rem;
}
.ccs-user-input{
	width:3.99rem;
	left:0.08rem;
}
.ccs-user-input__input{
	display:block;
	width:100%;
	background-color:#fff;
	margin-bottom:0.12rem;
	padding:0.10rem 0rem;
	line-height:0.40rem;
	padding-right:0.10rem;
	padding-left:0.46rem;
	font-size:0.24rem;
	display:block;
	overflow:hidden;
	height:0.60rem;
	-webkit-border-radius:0px;
	-moz-border-radius:0px;
	border-radius:0px;
	-webkit-border-bottom-left-radius:0.08rem;
	-moz-border-bottom-left-radius:0.08rem;
	border-bottom-left-radius:0.08rem;
	-webkit-border-bottom-right-radius:0.08rem;
	-moz-border-bottom-right-radius:0.08rem;
	border-bottom-right-radius:0.08rem;
}
.ccs-user-input__label{
	display:block;
	width:100%;
	position:relative;
	height:2.3rem;
}
.ccs-user-input__label > img{
	position:absolute;
	left:0px;
	top:0px;
	z-index:9;
	width:100%;
	height:100%;
}
.ccs-user-input__label input[type='file']{
	position:absolute;
	left:0px;
	top:0px;
	visibility:hidden;
}